<!-- cuando clickado el btn que se ponga la clase succes -->
<button (click)="getSpainData()" type="button" class="btn btn-info" value="spain">España</button>
<button (click)="getUkData()" type="button" class="btn btn-info" value="uk">Reino Unido</button>
<button (click)="getPortugalData()" type="button" class="btn btn-info" value="portugal">Portugal</button>
<mat-form-field class="example-form-field">
    <input (input)="searching()" [(ngModel)]="termino" matInput type="text">
  </mat-form-field>
<ul>
    <li *ngFor="let uni of universities">
        {{uni.nombre}}
    </li>
</ul>