<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">

<mat-button-toggle (click)="getSpainData()">España</mat-button-toggle>
<mat-button-toggle (click)="getUkData()">Reino Unido</mat-button-toggle>
<mat-button-toggle (click)="getPortugalData()">Portugal</mat-button-toggle>

</mat-button-toggle-group>

<mat-form-field class="example-form-field">
    <input (input)="searching()" [(ngModel)]="termino" matInput type="text">
</mat-form-field>

<ul>
    <li *ngFor="let uni of universities">
        {{uni.nombre}}
    </li>
</ul>